@charset "UTF-8";

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 100px;
}

/*
----------------------
Start ハンバーガーメニュー
----------------------
*/
.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 60px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  z-index: 10;
}

.headerNavOuter {
  margin-bottom: 0;
  position: relative;
}

.siteIcon {
  margin: 0;
}

.siteIcon img {
  /* width: 60px; */
  /* height: 60px; */
  /* width: 5%; */
  margin-top: 15px;
  margin-left: 2%;
}

/* Start ナビゲーション */
.headerNav {
  position: fixed;
  right: -250px;
  /*右側に隠しておきます*/
  top: 0;
  width: 250px;
  height: 100vh;
  padding-top: 40px;
  background-color: #5CE0C0;
  -webkit-transition: all .6s;
  transition: all .6s;
  z-index: 20;
  overflow-y: auto;
}

.navList {
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
}

.navItem {
  padding: 1rem 1rem 0;
}

.navItem a {
  display: block;
  border-bottom: 1px solid #eee;
  color: #707070;
  padding: 4rem 0 1rem;
  width: 100%;
  margin: 0 auto;
  text-decoration: none !important;
}

/* End ナビゲーション */

/* Start ハンバーガーボタン(三本線の実装) */
.hamburger_btn {
  position: absolute;
  /*.headerNavOuterを基準にして、絶対配置*/
  right: 0;
  top: 0;
  width: 55px;
  height: 55px;
  cursor: pointer;
  z-index: 30;
}

.hamburger_line {
  position: absolute;
  /*.headerNavOuterを基準にして、絶対配置*/
  left: 8px;
  width: 25px;
  height: 1px;
  background-color: #111;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.hamburger_line_1 {
  top: 20px;
}

.hamburger_line_2 {
  top: 26px;
}

.hamburger_line_3 {
  top: 32px;
}

/* End ハンバーガーボタン(三本線の実装) */

/*ハンバーガーメニュをクリックした後に現れる半透明の背景*/
.black-bg {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  /* 非表示にしておきます */
  -webkit-transition: all .6s;
  transition: all .6s;
  cursor: pointer;
}

/* Start ハンバーガーボタンをクリックした際の動き */
/* ナビゲーションが現れる */
.nav-open .headerNav {
  right: 0;
}

/* 半透明の背景を表示させます。 */
.nav-open .black-bg {
  opacity: .8;
  visibility: visible;
}

/* 三本線のハンバーガーを、バッテンにします */
.nav-open .hamburger_line_1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 25px;
}

.nav-open .hamburger_line_2 {
  width: 0;
  left: 50%;
}

.nav-open .hamburger_line_3 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 25px;
}




/* End ハンバーガーボタンをクリックした際の動き */
/*
----------------------
End ハンバーガーメニュー
----------------------
*/





/* スライダー */
.slide {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

@keyframes slideshow {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  28% {
    opacity: 1
  }

  38% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}




/* div.reservation_button {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #5CE0C0;
  height: 80px;
  z-index: 4;
} */



/* 2ページ目以降トップ */
section.pagetop_img {
  /* background-image: url(../img/02_top_img.png); */
  background-repeat: no-repeat;
  background-size: 100%;
  height: 60vh;
  z-index: 1;
}

section.pagetop_img img {
  position: relative;
  width: 100%;
}

section.pagetop_img p {
  position: absolute;
  margin-top: 60px;
  font-size: 3em;
  padding-top: 200px;
  padding-left: 10%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  z-index: 2;
  top: 20px;
}


@media screen and (max-width: 820px) and (min-width: 451px) {
  section.pagetop_img {
      height: 60vh;
    }

  section.pagetop_img img {
    width: 100%;
    position: relative;
  }

  section.pagetop_img p {
    position: absolute;
    top: -150px;
  }
}

@media screen and (max-width:480px) {
  section.pagetop_img {
    height: 30vh;
  }

  section.pagetop_img img {
    width: 100%;
    position: relative;
    z-index: 1;
    top: 50px;
  }

    section.pagetop_img p {
      position: absolute;
      /* padding-top: 50px; */
      font-size: 2.5em;
      z-index: 2;
      top: -150px;
    }
}


/* サブタイトル */

div.sub_title p {
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-size: 1.8em;
}

div.sub_title p::before, div.sub_title p::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: #5CE0C0;
}

div.sub_title p::before {
  margin-right: 1rem;
}

div.sub_title p::after {
  margin-left: 1rem;
}


/* footer */

footer {
  background-color: #cec88d;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width:480px) {
  footer ul {
    flex-wrap: wrap !important;
    width: 90%;
    flex-wrap: wrap;
    align-items: center;
  }

  footer ul li {
    /* width: 30% !important; */
    flex-wrap: wrap;
    text-align: center;
    padding: 10px 5%;
    align-items: center;
  }

  footer ul li.sp_border_right_none {
    border-right: none;
  }

}


footer ul li {
  list-style-type: none;
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
  border-right: #666 solid 1px;
}

footer ul li.border_right_none {
  border-right: none;
}

footer ul li a {
  text-decoration: none;
  color: #333;
}

footer section.copyright {
  text-align: center;
  color: #666;
  padding-bottom: 10px
}



/* 下部fix部分 */
div.reservation_button {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #5CE0C0;
  height: 80px;
  z-index: 4;
}

div.reservation_button p a {
  text-align: center;
  display: block;
  line-height: 80px;
  font-size: 1.2em;
  text-decoration: none;
  color: #666;
}


